<h1>Portfolios</h1>
<%= link_to "Stocks", stocks_path %>
</br>

<%= link_to "New Porfolio", new_portfolio_path %>
</br>
</br>
<div id="portfolios">
  <% @portfolios.each do |portfolio| %>
    <div>
      <%= portfolio.id %>
      <%= link_to portfolio.name, portfolio %>
    </div>
  <% end %>
</div>

